@import "tailwindcss";
@config "./tailwind.config.cjs";

/* Base body styles */
body {
  font-family: 'Inter', sans-serif;
  background-color: #121212;
  color: #F0F0F0;
}

/* Custom scrollbar for better aesthetics in dark mode */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
